# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\_JCC_\_COURS_UDEMY\REACT AWS Amplify Serverless\aws-react-graphql\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
